TELEGRAM_TOKEN = 'your:bot_token'

# disable access to accounts aside from the ones specified
TELEGRAM_USERNAME_WHITELIST = 'username1,username2'


# if more than this value passed since last feeding, notify users
NOTIFICATION_INTERVAL_MINUTES=100500